{% extends "base.html" %}

{% load staticfiles %}

{% block title %}FAQ - healthchecks.io{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h3>Frequently Asked Questions</h3>
        <div class="drops col-sm-10"> 
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            How can I create a check?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Want to create a check? It is very simple. Once you are logged in, click the green button 
                            labelled "Add Check". You have your check created!
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            How can I invite someone on my check?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Inviting someone or team member(s) to your check is premium feature. To the top right, 
                            click on your email to reveal a drop down. Select "Account Settings". Under "Team Access", 
                            upgrade your account by clicking "paid plans" link. Once you have subcribed to one of the 
                            plans, just click "Invite a Team Member". Add the team member's email and click send invite. 
                            The member will receive an invite and once accepted, will become a team member.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Can I give my check a better name and tags?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes you can! Just hover over the check and click the "unnamed" label to your left. 
                            On the modal window, add a suitable name and tags to your check.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            How can I set period, grace and nag time?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Very simple! Under Period column on your check, click on the "1 day 1 hour 1 hour" label. 
                            A modal window with three sliders will pop. Use the sliders to set the Period time, 
                            Grace time and Nag Time as labelled.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            Can I set when to receive periodic reports?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes! To the top right, click on your email to reveal a drop down. Select "Account Settings". 
                            Under Reports in Settings, select one of the options that suits you best. It is that simple!
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            What integrations can I add for my checks? 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Integrations? Quite a number are available. On the Home page, click the Integrations tab to 
                            reveal six listed ones. Click on any of them and follow the guidance to set it up. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                            Where can I see my unresolved checks?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            On the Home page, click the Issues tab to reveal unresolved checks. Easy, isn't it?
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                            How can I delete a check?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            To delete a check is simple. Just hover over the check to reveal a cog at the far right. 
                            Click on the cog and select the "Remove" option in the dropdown. A modal window will pop to 
                            ask you to confirm. If you are sure you want to delete the check, click the red button 
                            labelled "Remove". Remember that this action cannot be undone.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                            Can I pause monitoring my check?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            Of course you can! To pause monitoring your check, hover over the check to reveal a cog at the far right. 
                            Click on the cog and select the "Pause monitoring" option in the dropdown.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                            Where can I get a report of my checks?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            In case you want to see a summary of your checks' report, go to the top right and click on 
                            your email to reveal a drop down. Select "Check Reports". You will see your report there.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>

{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

{% endblock %}