{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}Unresolved checks - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
        {% if request.team == request.user.profile %}
            Unresolved checks
        {% else %}
            {{ request.team.team_name }}
            {% if department.name %}
                / {{ department }}
            {% endif %}
        {% endif %}
        </h1>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">


    {% if checks %}
        {% include "front/issues_mobile.html" %}
        {% include "front/issues_desktop.html" %}
    {% else %}
    <div class="alert alert-info">You don't have any any unresolved checks.</div>
    {% endif %}
    </div>
</div>

<div id="show-usage-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <ul class="nav nav-pills" role="tablist">
                    <li class="active">
                        <a href="#crontab" data-toggle="tab">Crontab</a>
                    </li>
                    <li>
                        <a href="#bash" data-toggle="tab">Bash</a>
                    </li>
                    <li>
                        <a href="#python" data-toggle="tab">Python</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#node" data-toggle="tab">Node.js</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#php" data-toggle="tab">PHP</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#browser" data-toggle="tab">Browser</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#powershell" data-toggle="tab">PowerShell</a>
                    </li>
                    <li class="hidden-xs">
                        <a href="#email" data-toggle="tab">Email</a>
                    </li>
                </ul>

            </div>
            <div class="modal-body">


                <div class="tab-content">
                    {% with ping_url="<span class='ex'></span>" %}
                    <div role="tabpanel" class="tab-pane active" id="crontab">
                        {% include "front/snippets/crontab.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bash">
                        {% include "front/snippets/bash.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="python">
                        {% include "front/snippets/python.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="node">
                        {% include "front/snippets/node.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="php">
                        {% include "front/snippets/php.html" %}
                    </div>
                    <div class="tab-pane" id="browser">
                        {% include "front/snippets/browser.html" %}
                    </div>
                    <div class="tab-pane" id="powershell">
                        {% include "front/snippets/powershell.html" %}
                    </div>
                    <div class="tab-pane" id="email">
                            As an alternative to HTTP/HTTPS requests,
                            you can "ping" this check by sending an
                            email message to
                            <div class="email-address">
                                <code class="em"></code>
                            </div>
                    </div>
                    {% endwith %}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Got It!</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/issues.js' %}"></script>
{% endcompress %}
{% endblock %}
